.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  margin-bottom: 50px;
}

.App-logo-spinning {
  animation: App-logo-spin infinite 5s linear;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* h1.App-link {
  color: #61dafb;
} */
.App-link-selected {
  color: gray;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 10px;
  margin: 20px;
}